extends ../layout

block title
	title= 'АФИША | АРХИВ'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/afisha.css' + version)
	//- link(rel='stylesheet', type='text/css', href='/styles/afisha_colors.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/afisha.js' + version)

block content_right

block content
	h1 Архив
	each item in schedule
		b= item
		br