doctype html
html
	head
		include header
	body
		include counters
		.maket
			.main_block
				.header_block
					.menu_block
				.content_left_block
					block content_left
				.content_right_block
					block content_right
				.content_block
					block content
				.content_under_block
					block content_under
				.footer_block
