extends ../layout

block title
	title cool!

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/jquery.parallax.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content
	h1 cool
	each test in tests
		b=test.title[locale]
		br
		br