extends ../../../layout

block title
	title СПИСОК СОБЫТИЙ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/lists.js')

block content_right

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК СОБЫТИЙ
	br
	.main_menu_block
		each event in events
			a.rm_event(href='#', id=event._id)= 'удалить '
			||&nbsp;
			a(href='/auth/edit/events/' + event._id)= event.ru.title
			b= ' ---> '
			a(href='/event/' + event._id, target='_blank') результат
			br
			br