extends ../layout

block title
	title Главная!

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	h1 Главная
	a(href='/test') проверка языков
	br
	b курсы:
	br
	each course in courses
		a(href='/course/' + course._id)= course.title