extends ../layout

block title
	title ЦИМ | API

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right

block content_left
	.left_block
		.content_navigator
			.section API  V1
				.nav_item Архитектура
				.nav_item Формат запроса
				.nav_item Формат ответа
				.nav_item Примеры запросов

block content
		.content
			.title АРХИТЕКТУРА API
			.description
				pre
					|location: {
					|   events: {
					|     id: event_id,
					|     sort: 'event_param' || '-event_param',
					|     fields: 'event_param_1,event_param_2,event_param_n' || '-event_param_1,-event_param_2, -event_param_n',
					|     skip: Number,
					|     limit: Number,
					|     populate: Boolean
					|   },
					|   schedule: {
					|     id: schedule_id,
					|     sort: 'schedule_param' || '-schedule_param',
					|     fields: 'schedule_param_1,schedule_param_2,schedule_param_n' || '-schedule_param_1,-schedule_param_2,-schedule_param_n',
					|     start: Date,
					|     end: Date,
					|     populate: Boolean
					|   }
					|}
		.content
			.title ФОРМАТ ЗАПРОСА
			.s_title Порядок обращения к API
			.description
				br
				p Обращение к API происходит путем отправки GET запросов на адрес: http://meyerhold.ru/api/v1/
				p В случае успешного запроса, API возвращает ответ в формате JSON
				p Участок адреса /v1/ характеризуют версию API к которой в данный момент идет обращение
			.s_title Описание параметров API
			.description
				br
				i= '/api/v1/param1=value&param2=value1,value2'
				br
				br
				p Параметры имеют вид param=value и разделяются знаком '&' если параметры может принимать несколько значений, все они разделяются знаком ','.
				p Порядок перечисления параметров значения не имеет.
				p Параметры имеющие неправильный формат не обрабатываются.
			.s_title Параметры API
			.description
				br
				b location
				br
				i Статус - Обязательный
				br
				i Значение: events, schedule
				br
				br
				p Обозначает раздел к которому происходит обращение
				br
				br


				b secret
				br
				i Статус - Обязательный
				br
				i Значение: secret_key
				br
				br
				p Секретный ключ, необходимый для доступа к api


				br
				.s_title
					i События - events
				br


				b id
				br
				i Статус - Необязательный
				br
				i Тип значения: ObjectId
				br
				br
				p Идентификатор события. Если идентификатор события не указан, API возвращает список всех событий
				br
				br


				b sort
				br
				i Статус - Необязательный
				br
				i Тип значения: event_param
				br
				i Значение по умолчанию: undefined
				br
				br
				p Сортирует выдачу по конкретному параметру, для обратной сортировки перед параметром ставится '-'.
				br
				br


				b fields
				br
				i Статус - Необязательный
				br
				i Тип значения: event_param
				br
				i Значение по умолчанию: -__v,-meta.columns.one,-meta.columns.two,-en,-date,-members._id
				br
				br
				p Позволяет указать поля, которые войдут в ответ. Отрицательное значение каждого параметра исключает этот параметр из выдачи. Не допускается комбинация положительных и отрицательных значений.
				br
				br


				b skip
				br
				i Статус - Необязательный
				br
				i Тип значения: Number
				br
				i Значение по умолчанию: 0
				br
				br
				p Указывает число событий, которое необходимо пропустить от начала выборки. Используется в комбинации с параметрами sort и limit и позволяет создавать диапазон выборки.
				br
				br


				b limit
				br
				i Статус - Необязательный
				br
				i Тип значения: Number
				br
				i Значение по умолчанию: 10
				br
				br
				p Указывает максимальное число значений в выборке. Используется в комбинации с параметрами sort и skip и позволяет создавать диапазон выборки.
				br
				br


				b populate
				br
				i Статус - Необязательный
				br
				i Тип значения: Boolean
				br
				i Значение по умолчанию: false
				br
				br
				p Позволяет подставить значение в связанные поля выборки. Позволяет получить параметры участников для каждого события.


				br
				.s_title
					i Расписание - schedule
				br

				b id
				br
				i Статус - Необязательный
				br
				i Тип значения: ObjectId
				br
				br
				p Идентификатор даты в расписании. Если идентификатор даты не указан, API возвращает список всех дат.
				br
				br

				b sort
				br
				i Статус - Необязательный
				br
				i Тип значения: schedule_param
				br
				i Значение по умолчанию: undefined
				br
				br
				p Сортирует выдачу по конкретному параметру, для обратной сортировки перед параметром ставится '-'.
				br
				br


				b fields
				br
				i Статус - Необязательный
				br
				i Тип значения: schedule_param
				br
				i Значение по умолчанию: -__v,-events.banner
				br
				br
				p Позволяет указать поля, которые войдут в ответ. Отрицательное значение каждого параметра исключает этот параметр из выдачи. Не допускается комбинация положительных и отрицательных значений.
				br
				br


				b start
				br
				i Статус - Необязательный
				br
				i Тип значения: Date
				br
				i Значение по умолчанию: дата текущего месяца
				br
				br
				p Указывает начало диапазона выборки расписания.
				br
				br


				b end
				br
				i Статус - Необязательный
				br
				i Тип значения: Date
				br
				i Значение по умолчанию: последняя дата текущего месяца
				br
				br
				p Указывает конец выборки расписания.
				br
				br


				b populate
				br
				i Статус - Необязательный
				br
				i Тип значения: Boolean
				br
				i Значение по умолчанию: false
				br
				br
				p Позволяет подставить значение в связанные поля выборки. Позволяет получить параметры событий для каждой даты.
				br
				br






		.content
			.title ФОРМАТ ОТВЕТА
			.description
				.s_title События
				pre
					|{
					|     _id: ObjectId,	// Идентификатор события
					|      ru: {
					|        title: String,	// Заголовок события
					|      s_title: String,	// Подзаголовк события
					|         body: String,	// Описание события
					|         ticket: String,	// Маленькое объявление
					|         comment: String,	// Комментарий режиссера
					|         p_author: String	// Автор фотографии
					|      },
					|      en: {
					|        title: String,
					|      s_title: String,
					|         body: String,
					|         ticket: String,
					|         comment: String,
					|         p_author: String
					|      },
					|      photo: String,	// Путь до фотографии к событию
					|      hall: String,	// Зал
					|      age: Number,	// Минимальный возраст зрителей
					|      duration: String,	// Продолжительность события
					|      category: [String],	// Категория события (спектакль, лекция...)
					|      date: Date
					|   members: [{	// Список участников
					|    c_status: String,	// Текущий статус участника в событии (Актер, режиссер...)
					|    m_id: { ObjectId, ref: 'Member' },	// Идентификатор участника
					|    comment: {
					|      ru: String,	// Комментарий к участнику
					|      en: String
					|    }
					|   }]
					|}
			.description
				.s_title Расписание
				pre
					|{
					|_id: ObjectId,	// Идентификатор даты в расписании
					|  events: [{	// Массив событий
					|      _id: ObjectId // Идентификатор показа
					|    event: { ObjectId, ref: 'Event' },	// Идентификатор события
					|    premiere: String,	// Премьера или не премьера
					|    banner: String,
					|    time: {	// Время проведения события
					|      hours: String,
					|      minutes: String
					|    }
					|    }],
					|  date: Date	// Дата в расписании
					|}
		.content
			.title ПРИМЕРЫ ЗАПРОСОВ
			.description
				.s_title События
				br
				b Получить событие по {event_id}
				br
				i /api/v1/location=events&id={event_id}
				br
				a(href='/api/v1/location=events&id=522daa5d815cbe030200001c&secret=' + secret, target='_blank') запрос
				br
				br

				b Получить список событий в порядке: {date} начиная с {2} и заканчивая {15}
				br
				i /api/v1/location=events&sort={date}&skip={Number}&limit={Number}
				br
				a(href='/api/v1/location=events&sort=date&skip=2&limit=15&secret=' + secret, target='_blank') запрос
				br
				br


				b Получить список событий в порядке {date} с наcелением полей участников {true} и исключением полей {hall} и {ru.s_title}
				br
				i /api/v1/location=events&sort={date}&populate={true}&fields={-hall,-ru.s_title}
				br
				a(href='/api/v1/location=events&sort=date&populate=true&fields=-hall,-ru.s_title&secret=' + secret, target='_blank') запрос
				br
				br




				b Получить список событий и отсеить все поля кроме {age} и {ru.title}
				br
				i /api/v1/location=events&fields={age, ru.title}
				br
				a(href='/api/v1/location=events&fields=age,ru.title&secret=' + secret, target='_blank') запрос
				br


				.s_title Расписание
				br


				b Получить расписание в диапазоне с {Date} по {Date}
				br
				i /api/v1/location=schedule&start={Date}&end={Date}
				br
				a(href='/api/v1/location=schedule&start=1393617600000&end=1396209600000&secret=' + secret, target='_blank') запрос
				br
				br


				b Получить дату из расписания по {schedule_id}
				br
				i /api/v1/location=schedule&id={schedule_id}
				br
				a(href='/api/v1/location=schedule&id=52ecebc2e9b22617020000f4&secret=' + secret, target='_blank') запрос