extends ../layout

block title
	title ЦИМ | КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBOpenpHs_KV-iN4XnFmaArzhj3D3NdVaY&sensor=false')
	script(type='text/javascript', src='/scripts/g_maps.js' + version)
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right
	.right_block
		.r_item
		.r_item
			p Реализация проектов:
			a(href='mailto:gercliya@gmail.com')
				b Артём МАЗУР
			p +7 (909) 682-69-29
block content_left
	.left_block
		.content_navigator
			.section КОНТАКТЫ
				.nav_item зрители
				.nav_item аренда
			.section ПЛОЩАДКИ
				.nav_item большой зал
				.nav_item черный зал
				.nav_item белый зал
				.nav_item зеркальный зал
				.nav_item фойе
				.nav_item кафе

block content
		.content
			.title КОНТАКТЫ
			.s_title ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА
			.description
				br
				p 127055 Москва, ул. Новослободская, 23 (м. Менделеевская / м. Новослободская)
				br
				//- |<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=k3n4VT_yMyurpXva2Mmclneka5FzZgaf&width700&height=350"></script>
				#map-canvas
				br
				b Заказ билетов:
				p +7 (495) 363-10-48
				br
				b Кирилл БАМБУРОВ
				p пресс-секретарь Центра им. Вс. Мейерхольда
				a(href='mailto:bamburov.kirill@gmail.com') BAMBUROV.KIRILL@GMAIL.COM
		.content
			.title АРЕНДА
			.s_title ЦЕНТР МЕЙЕРХОЛЬДА ОТКРЫТ ДЛЯ ТВОРЧЕСКОГО СОТРУДНИЧЕСТВА И КОММЕРЧЕСКОГО ПАРТНЕРСТВА.
			.description
				br
				p ЦИМ предоставляет в аренду площадки для проката и постановки спектаклей, а также реализации творческих проектов.
				p В ЦИМе можно провести конференцию, выставку, концерт, фестиваль, лекцию или деловую встречу.
				p А в кафе «О.Г.И. в Мейерхольда» справить день Рождения, устроить праздничную вечеринку или просто отобедать.
				br
				b Каждое предложение обсуждается отдельно.
		.content
			.title БОЛЬШОЙ ЗАЛ
			.description
				br
				p Большой зал ЦИМа – это уникальная театральная площадка Москвы.
				p Сцена-трансформер позволяет решать самые сложные сценографические и режиссерские задачи.
				br
				b параметры зала:
				ol
					li Высота до колосников – 7,8 м.
					li Параметры сцены (зал без партера) – 21 м x 19 м.
					li Параметры сцены (зал с максимальным партером 10 рядов по 28 мест) – 16 м (ширина) x 8 м (глубина).
					li Партер нефиксированный, может располагаться на планшете в любых архитектурных формах (амфитеатр, арена, бифронтальный партер, угловой и проч.).
					li Планшет сцены состоит из плунжеров 2x2 м, каждый из которых может подыматься максимум на 90 см.
					li Люк – 9 плунжеров (слева от центра сцены) уходят вниз на целый этаж.
					li Грузоподъемность лебедок – 150 кг
					li По всему периметру сцены расположен балкон на расстоянии 4 м от планшета, который может быть как игровым, так и зрительским.
					li Глубина трюма – 3,7 м. Подъёмные площадки 2х2 м. – 72 шт., высота подъёма – 0,9 м.
					li Опускная площадка 6х6 м., опускается в трюм на глубину 3 м. 15 индивидуальных подъёмов, грузоподъёмность 150 кг.
					li Киноустановка для полнометражных фильмов, экран 6х4 м., система Dolby Surround.
					li Синхронный перевод на 200 чел.
					li Вместимость зала до 300 чел.
					li Грузовой лифт – 6 м (высота) x 1,3 x 3
		.content
			.title ЧЕРНЫЙ ЗАЛ
			.description
				br
				p Черный зал ЦИМа предназначен для камерных спектаклей, площадка вмещает в себя не более 60-ти зрителей. При помощи станков можно по-разному организовывать как игровое, так и зрительское пространство.
				br
				b параметры зала:
				ol
					li Параметры зала 6,8 x 5,5 x 2,8 м.
					li Зал оборудован световым оборудованием - диммер 24 световых канала + 10 нерегулируемых включений.
					li Вместимость зала - до 44 человек.
		.content
			.title БЕЛЫЙ ЗАЛ
			.description
				br
				p Зал используется для различных акций, камерных спектаклей (в настоящее время в репертуаре зала спектаклей нет), репетиционного процесса. Зал не оборудован.
				br
				p Вместимость зала - до 30 человек
		.content
			.title ЗЕРКАЛЬНЫЙ ЗАЛ
			.description
				br
				p Зеркальный зал находится на 3 этаже ЦИМа. Используется зал для пресс-конференций, выставочных проектов, проведения лекций, семинаров, мастер-классов, видеопоказов, репетиционного процесса и др.
				br
				p Вместимость зала - до 30 человек.
		.content
			.title ФОЙЕ
			.description
				br
				p Площадь фойе — 150 кв. м. Фойе используется для пресс-конференций, выставок, семинаров, видеопоказов и других акций.
		.content
			.title КАФЕ
			.description
				br
				p На 4м этаже ЦИМа живет кафе О.Г.И., где комфортно разместятся 60 человек в европейской банкетной рассадке, а также можно организовать фуршет для 100 гостей. Здесь можно не только вкусно и недорого пообедать, но также отыграть акустический концерт (есть небольшая сцена), устроить детский праздник или закрытую вечеринку. Огромное окно, полки с книгами и приятная лаунж-атмосфера способствуют проведению творческих переговоров, деловых встреч, кофе-пауз и просто отдыху.

