extends ../layout

block title
	title ЦИМ | В. ФОКИН

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right

block content_left

block content
		.content
			.title В. ФОКИН
			.description
				br
				b Валерий Владимирович ФОКИН
				br
				i Народный артист России, лауреат Государственных премий России, заслуженный деятель искусств Польши. Основатель и президент Центра имени Вс. Мейерхольда.
				br
				br
				p Член Комиссии по творческому наследию Вс. Э. Мейерхольда, председатель Комиссии (1988 – 2008).
				p Является также художественным руководителем и директором Александринского театра (Санкт-Петербург) (2003).  Вошел в Президиум Совета при Президенте Российской Федерации по культуре и искусству (2006).
				p За большой вклад в развитие отечественного театрального искусства и многолетнюю творческую деятельность Валерий Фокин награжден орденом «ЗА ЗАСЛУГИ ПЕРЕД ОТЕЧЕСТВОМ» IV степени (Указ Президента Российской Федерации № 172 от 28. 02. 2006 года). А также знаком отличия «За заслуги перед Санкт-Петербургом».
				p Удостоен Российской Национальной Театральной Премии «Золотая Маска» – специальный приз жюри «За возрождение Александринского театра» (2008) и премия в номинации «лучшая работа режиссера» за спектакль «Женитьба» по Н.В. Гоголю, поставленный в Александринском театре (2009).  Награжден орденом «Глория Артис»  – высшей государственной наградой Польши в области литературы и искусства. Лауреат премии имени Вс. Э. Мейерхольда и премии имени К.С. Станиславского.
				br
				p Родился в Москве в 1946 году. Окончил Театральное училище имени Б. В. Щукина, где поставил свой первый спектакль — «С вечера до полудня» (1968).
				p С 1971 года — режиссёр театра «Современник» («Валентин и Валентина», «Провинциальные анекдоты», «Монумент», «И пойду, и пойду…», «Любовь и голуби», «Ревизор», «Кто боится Вирджинии Вулф?» и другие).
				p В 1985 году возглавил Театр имени М. Н. Ермоловой («Говори…», «Спортивные сцены 1981 года», «Приглашение на казнь», «Бесноватая» и другие).
				p В 1991 году основал Центр имени Вс. Мейерхольда. Здесь Фокин поставил «Нумер в гостинице города NN» (1994),«Превращение» (совместно с театром «Сатирикон») (1995), «Ещё Ван Гог…» (совместно с Театром п/р О. Табакова) (1997), «Птицы» (совместно с театром «Глобус» (Новосибирск) и театром «Стоян Бъчваров» (Варна, Болгария) (2001)),«Арто и его Двойник» (2002), «Ревизор» (совместно с Александринским театром) (2002).
				p В 2002 году осуществил постановку игрового полнометражного фильма «Превращение», который с успехом демонстрировался на международных кинофестивалях в Токио (Япония), Карловых Варах (Чехия), Москве, Выборге.
				p В 1996 году в Москве и Санкт-Петербурге состоялись фестивали спектаклей Валерия Фокина: «Валерий Фокин. Три спектакля в Манеже» (Москва) (1996) и «Превращения Валерия Фокина» (Санкт-Петербург, Театр на Литейном) (1996).Множество постановок осуществил за рубежом: в Польше, Германии, Греции, США, Финляндии, Японии.
				p Валерий Фокин обращается в своем творчестве к самым острым, «больным», остававшимся долгое время «закрытым» темам недавнего прошлого нашей страны и дня сегодняшнего. Его спектакли, современные ли, классические ли, характеризуют емкость и масштабность сценической метафоры, острота художественного мышления, театральность, стремление к подробному психологическому анализу характеров. Думается, поэтому режиссура Фокина вызывает интерес за рубежом. Спектакли в его постановке идут на сценах США, Польши, Венгрии, Германии, Швейцарии, Японии, Франции. Спектакли отличает не только мастерство режиссуры, но и оригинальность интерпретации хорошо известных образов. В них явно меняется направление творческого поиска – складывается иная эстетика.
				p Спектакли В.В. Фокина «Нумер в гостинице города NN» по Н.В. Гоголю (ЦИМ, Москва, 1994), «Превращение» по Ф. Кафке (ЦИМ совместно с театром «Сатирикон») (1995), «Еще Ван Гог...» (ЦИМ совместно с театром п/р Олега Табакова) (1998), «Татьяна Репина» по А.П. Чехову (Авиньонский фестиваль (Франция) совместно с МТЮЗ) (1998), «Ревизор» Н.В. Гоголя (Александринский театр совместно с ЦИМ) (2002) получили признание российской и мировой театральной общественности. Им присуща не только яркая зрелищность, динамика, парадоксальность, но и последовательный поиск нового театрального языка. Это позволяет говорить о Фокине как об одном из лидеров современной европейской сцены.