extends ../layout

block title
	title ЦИМ | СЕГОДНЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right
	.right_block
		.r_item
		.r_item
			p Контакты:
			a(href='mailto:elena.g.kovalskaya@gmail.com')
				b Елена КОВАЛЬСКАЯ
		.r_item
			p Партнер поректа:
			a(href='http://start-std.ru/', target='_blank')
				b Союз театральных деятелей РФ.
		.r_item
			p Контакты:
			a(href='mailto:litvinova@goldenmask.ru')
				b Ксения ЛИТВИНОВА
		.r_item
			p При поддержке:
			a(href='http://www.goethe.de/ins/ru/lp/ruindex.htm', target='_blank')
				b Немецкого культурного центра им. Гете.

block content_under
	.under_block
		span= 'ИНФОРМАЦИЯ И УСЛОВИЯ УЧАСТИЯ В ПРОЕКТАХ: '
		a(href='http://www.goldenmask.ru', target='_blank') WWW.GOLDENMASK.RU
		|&nbsp;|&nbsp;
		a(href='/')	WWW.MEYERHOLD.RU

block content_left
	.left_block
		.content_navigator
			.section ЦИМ СЕГОДНЯ
				.nav_item о циме
			.section ИНСТИТУТ ТЕАТРА
				.nav_item о программе
				.nav_item почерк
				.nav_item класс театральной критики
				.nav_item театральный класс

block content
		.content
			.title ЦИМ СЕГОДНЯ — ЭТО ИНСТИТУТ СОВРЕМЕННОГО ТЕАТРА
			.description
				br
				p Лаборатория для профессионального сообщества, изучающего и развивающего театр-искусство и театр-общественный институт. Площадка современного театра для зрителей, интересующихся всем новым в театре и культуре.
				p Наша цель — модернизация театра.
				p Наши инструменты — современный театр, новое образование, поддержка инициативы, театральный поиск.
				p Сцена-трансформер и здание на стыке конструктивизма и современной архитектуры задают тон всему происходящему в ЦИМе.
				br
				b Современный театр
				p Мейерхольдовский центр — традиционное место для гастролей лучших европейских и российских спектаклей, площадка международных фестивалей и национального фестиваля «Золотая маска».
				br
				b Новое образование
				p Магистратура, в которой на протяжении двух лет в ЦИМе учатся режиссеры со всего постсоветского пространства.
				p «Школа театрального лидера», в которой лучшие молодые силы готовятся к работе в репертуарном театре, исповедуя принципы стратегического планирования, конкуренции и социальной ответственности театра перед обществом.
				p «Институт театра» - программа интеграции театра и общества, которую ЦИМ проводит в партнерстве с фестивалем «Золотая маска».
				p Мастер-классы, семинары, развивающие театр как искусство и общественный институт.
				p Клуб ЦИМа, совмещающий публичные лекции, кинопоказы, концерты и выставки.
				br
				b Поддержка инициативы
				br
				p Копродукции с независимыми группами или государственными театрами, соответствующие целям ЦИМа.
				br
				b Театральный поиск
				br
				p Резиденция Blackbox, в которой художники разных профессий исследуют возможности новых конвенций между спектаклем и зрителем и новых пространственных решений.
		.content
			.title ИНСТИТУТ ТЕАТРА
			.s_title ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА  / ФЕСТИВАЛЬ «ЗОЛОТАЯ МАСКА» ПРИ ПОДДЕРЖКЕ ДЕПАРТАМЕНТА КУЛЬТУРЫ ГОРОДА МОСКВЫ
			.description
				br
				p С 2012 года в Центре имени Вс. Мейерхольда реализуется инновационный проект «Школа театрального лидера», цель которого – модернизация московского театра силами молодого поколения.
				p Фестиваль «Золотая Маска» в течение многих лет проводит образовательную программу для театральных специалистов из городов России.
				p «Институт театра» становится логическим продолжением деятельности «Школы театрального лидера» и профессиональных и творческих семинаров, ежегодно проводимых «Золотой Маской».
				br
				b «Институт театра» – это:
				ul
					li Лаборатории, мастер-классы, лекции для молодых режиссеров, продюсеров, дизайнеров, артистов, критиков.
					li Инновационные проекты по интеграции театра и общества.
					li Новые жанры, новый облик театра, новые смыслы.
					li Встреча недавних выпускников творческих вузов с реальностью, возможность для них стать практиками, не перестав быть мечтателями.
					li «Институт театра» – мастерская перемен и нового настроения в театре и в культуре.
				b Программа стартует в марте 2013 года и рассчитана на длинную перспективу.
		.content
			.title ПОЧЕРК
			.s_title ПРОЕКТ РЕДИЗАЙНА ТЕАТРОВ РОССИИ
			.description
				br
				p Руководители проекта:
				b Игорь ГУРОВИЧ
				small  дизайнер, художник-график
				br
				b Сергей ГОЛОМАЗОВ
				small  режиссер, художественный руководитель московского театра на Малой Бронной.
				p Куратор проекта:
				b Ольга ТОПУНОВА
				br
				br
				p Проект входит в программу «Институт театра», организованную в рамках «Школы театрального лидера» при поддержке Департамента культуры города Москвы. Программа направлена на развитие театра как искусства и общественного института.
				p «Почерк» – это долгосрочный проект, состоящий из лаборатории и практикума, в которых молодые дизайнеры и представители российских театров совместно разрабатывают новый визуальный образ шести российских театров средствами графического дизайна.
				p Идея проекта заключается в создании актуального визуального облика российского театра, который соответствовал бы новому пониманию его миссии и роли в городе. Мы рассчитываем на реализацию проектов в театрах – партнерах проекта.
				p Работу проекта подытожат выставка авторских проектов в Центре им. Вс.Мейерхольда и выход в печать книги о современном дизайне театров на основе работ участников проекта.
				br
				b Участники:
				p Молодые (до 35 лет) дизайнеры и шесть театров в лице художественного руководителя, сотрудника по работе со зрителями, pr-менеджера, заведующего литературной частью.
				p Театры – партнеры программы, которые имеют намерение реализовать план ребрендинга, выработанный в рамках проекта.
				br
		.content
			.title КЛАСС ТЕАТРАЛЬНОЙ КРИТИКИ
			.description
				br
				p Конкурс молодых критиков и серия мастер-классов ведущих театральных обозревателей Москвы. Проект стремится установить диалог между разными поколениями театральной критики, повысить профессионализм молодых театроведов и журналистов, подготовить их к работе в СМИ и к взаимодействию с «живым» театром.
				p В 2014 году мы сосредоточимся на балете и современном танце. И намерены заниматься долго и серьезно. Участников Класса ждут лекции и практические занятия, походы в театр, разбор спектаклей, работа с текстом. Организаторы не стесняются показаться идеалистами: главная цель Класса – научить(ся) писать о танце.
				p Куратор Класса – Анна Гордеева. Лекции прочитают Анна Галайда, Лейла Гучмазова, Татьяна Кузнецова, Ольга Федорченко.
				p Программа Класса театральной критики 2014 года рассчитана на 10 недель. Каждую субботу, начиная с 25-го января, мы собираемся на 4 часа, которые включают лекцию и практическое занятие. В течение всего времени у участников Класса будет возможность ходить на спектакли Фестиваля «Золотая Маска», также мы будем стараться отправить всех на важные спектакли московских театров.
				br
				b Темы лекций:
				ol
					li Вводная лекция. Классический балет – модерн – контемпорари. Критики XIX, XX, XXI века: изменение взгляда на предмет (Гордеева)
					li Романтический взгляд на мир глазами современного балетмейстера. Романтический балет как одно из средств современного самовыражения (Федорченко)
					li Реконструкция спектаклей прошлого. Прагматизм и реализм современного балетмейстера. (Федорченко)
					li Особенности и отличия главных мировых балетных школ и влияние этого узкопрофессионального фактора на развитие театра, театральный репертуар, а также на вкусы публики. (Галайда)
					li Феномен советского балета (Кузнецова)
					li Характерный танец – его роль в XIX, XX, XXI веке (Кузнецова)
					li Современные хореографы, работающие в классической технике и их сотрудничество с российскими театрами. (Галайда)
					li Почему современный танец появился именно в ХХ веке? (Гучмазова)
					li Танец и перформанс как социальный выплеск (Гучмазова)
					li  Альтернативный танец в России (Гучмазова)
				b Расписание занятий будет составлено к 10 января.
				br
				br
				p Приглашаем всех, кто готов заниматься в Классе театральной критики, прислать нам свою заявку до 15 января. Просим Вас коротко рассказать о себе и своих творческих задачах. Нам также помогут Ваши тексты – о чем, в каком жанре и на какой площадке они написаны, неважно.
		.content
			.title ТЕАТРАЛЬНЫЙ КЛАСС
			.description
				br
				p Мастер-класс театральной педагогики (ведет Клаудиа Майерс, Германия) и обширная программа по интеграции театра и средней школы, включающая комплекс мероприятий, которые обрамляют поход школьного класса на спектакль. Программа включает подготовку школьника к восприятию искусства театра и создание универсальной методики работы. Проект реализуется театральными педагогами и преподавателями московских школ. Панируется применение методики в регионах страны.
