extends ../../../layout

block title
	title СПИСОК СПЕЦПРОЕКТОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/lists.js')

block content_right

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК СПЕЦПРОЕКТОВ
	br
	.main_menu_block
		each project in projects
			.project
				a.rm_project(href='#', id=project._id)= 'удалить '
				||&nbsp;
				a(href='/auth/edit/projects/' + project._id)= project.ru.title
				//- b= ' ---> '
				//- a(href='/project/' + project._id, target='_blank') результат
				br
				br